# Dependencies
node_modules

# Production
build
dist

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea
.vscode

# OS
.DS_Store

# Logs
logs
*.log
lerna-debug.log*

# Tests
/coverage
/.nyc_output

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Credentials
rxai-450010-dcef583435c8.json

# Docker
.docker/

# Temporary files
.tmp/
.temp/ 